.table-style {
    border: 1px solid;
    padding: 5px;
    margin: 15px;
}
.search-field {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 5px;
}
.border-right{
    border-right: 1px solid !important;
}

.recent-history-box {
  clear:both;
  border: 1px solid;
  box-shadow: 5px 10px;
}