/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto;
}

.heading{
    padding: 5px;
    background-color: green;
}

.filter-button {
    border: 1px solid;
    padding: 1px;
}
